@font-face {
  font-family: Lora;
  src: url('assets/Lora-VariableFont_wght.ttf');
}

html, body {
  font-size: 16px;
  font-family: 'Lora';
}

#root, .app {
  position: absolute;
  inset: 0;
}

h1 {
  margin: .5rem;
}